a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.spacer {
  flex : 1 1 auto;
}

#brand {
  margin-left: 50px;
}
.rightLi {
  margin-right: 50px;
}
ul {
  display: flex;
}
